<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="wap-font-scale" content="no" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="format-detection" content="telephone=no" />
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/player.css" />
  </head>
  <body>
    <div class="page">
      <div class="header"><h1>首页</h1></div>
      <div class="content">
        <ul>
          <li><a href="/example#/">小游戏</a></li>
          <li><a href="/example#/chat">聊天室</a></li>
          <li><a href="/example#/todos">todos</a></li>
          <li><a href="/activity/vr">vr</a></li>
          <li><a href="/activity#/turn-card">翻牌</a></li>
        </ul>
      </div>
      <div class="footer"></div>
    </div>
  </body>
  <script src="/static/js/wavesurfer.min.js"></script>
  <script src="/static/js/player.js"></script>
  <script>
    Player(['/static/mp3/landing-guy.mp3', '/static/mp3/closer.mp3'])
  </script>
</html>
