<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="wap-font-scale" content="no" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="format-detection" content="telephone=no" />
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <style>
      .page {
        text-align: center;
      }
      #photo {
        display: inline-block;
        width: 200px;
        height: 200px;
        border: 2px dashed #000;
      }
      #result {
        display: inline-block;
        max-width: 600px;
      }
    </style>
  </head>
  <body>
    <div class="page">
      <div id="photo">
        <img id="photo-img" src="" alt="">
      </div>
      <div id="result">
        <img id="result-img" src="" alt="">
      </div>
    </div>
  </body>
  <script src="/static/js/jsfeat.min.js"></script>
  <script src="/static/js/photo.js"></script>
  <script>
  </script>
</html>
