<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="format-detection" content="telephone=no">
  <title>大家一起来打响指吧</title>
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    #app {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
    }
    .wrapper {
      position: relative;
    }
    #result,
    #result canvas {
      position: absolute;
      left: 0;
      top: 0;
    }
    #img {
      transition: .5s;
      opacity: 1;
      visibility: visible;
    }

    #img.fade {
      opacity: 0;
      visibility: hidden;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="wrapper">
      <img id="img" src="/static/img/test.jpg">
      <div id="result"></div>
    </div>
    <button id="snap">响指</button>
  </div>
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
  <script src="https://cdn.bootcss.com/chance/1.0.18/chance.min.js"></script>
  <script src="https://cdn.bootcss.com/gsap/latest/TweenLite.min.js"></script>
  <script src="https://cdn.bootcss.com/gsap/latest/plugins/CSSPlugin.min.js"></script>
  <script>
    const img = $('#img')
    const result = $('#result')
    const snap = $('#snap')
    let htmlCanvas

    const imageDataArray = []
    const canvasCount = 30
    const config = {
      baseTime: 1200,
      stepTime: 30,
      trans: 20,
      delay: 100,
      rotate: 4
    }

    let ready = true
    snap.on('click', () => {
      if (!ready) {
        return false;
      }
      ready = false

      //create canvas for each imageData and append to target element
      for (let i = 0; i < canvasCount; i++) {
        const c = newCanvasFromImageData(imageDataArray[i], htmlCanvas.width, htmlCanvas.height);
        c.classList.add('dust')
        result.append(c);
      }
      img.addClass('fade')

      $('.dust').each(function (index) {
        TweenLite.to(this, (config.baseTime + config.stepTime * index) / 1000, {
          x: chance.integer({ min: -config.trans, max: config.trans }),
          y: chance.integer({ min: -config.trans, max: config.trans }),
          scale: 1.2,
          rotation: chance.integer({ min: -config.rotate, max: config.rotate }),
          autoAlpha: 0,
          delay: config.delay * index / 1000,
          onComplete: () => {
            this.remove()
          }
        })
      });

      setTimeout(() => {
        ready = true
        img.removeClass('fade')
      }, config.baseTime + (config.stepTime + config.delay) * canvasCount)
    })

    html2canvas(img)
      .then(canvas => {
        htmlCanvas = canvas
        const ctx = canvas.getContext('2d');
        const imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
        const pixelArr = imageData.data
        createBlankImageData(imageData);
        //put pixel info to imageDataArray (Weighted Distributed)
        for (let i = 0; i < pixelArr.length; i += 4) {
          //find the highest probability canvas the pixel should be in
          const p = Math.floor((i / pixelArr.length) * canvasCount);
          const a = imageDataArray[weightedRandomDistrib(p)];
          a[i] = pixelArr[i];
          a[i + 1] = pixelArr[i + 1];
          a[i + 2] = pixelArr[i + 2];
          a[i + 3] = pixelArr[i + 3];
        }
        
      })
    function weightedRandomDistrib(peak) {
      var prob = [], seq = [];
      for (let i = 0; i < canvasCount; i++) {
        prob.push(Math.pow(canvasCount - Math.abs(peak - i), 3));
        seq.push(i);
      }
      return chance.weighted(seq, prob);
    }

    function createBlankImageData(imageData) {
      for (let i = 0; i < canvasCount; i++) {
        let arr = new Uint8ClampedArray(imageData.data);
        for (let j = 0; j < arr.length; j++) {
          arr[j] = 0;
        }
        imageDataArray.push(arr);
      }
    }
    function newCanvasFromImageData(imageDataArray, w, h) {
      var canvas = document.createElement('canvas');
      canvas.width = w;
      canvas.height = h;
      tempCtx = canvas.getContext('2d');
      tempCtx.putImageData(new ImageData(imageDataArray, w, h), 0, 0);

      return canvas;
    }
  </script>
</body>

</html>